<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  {% block css %}
    <link rel="stylesheet" href="{{css}}" />
  {% endblock %}
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <a href="/">
      <img src="/assets/ex_libris.png" alt="📚" />
    </a>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>