:root {
	--orange:  #ff6935;
	--beige: #f1dfd7;
	--blue: #487aff;
	--baby-blue: #d4e4dd;
}

body {
	background: var(--beige);
	display: grid;
    place-items: center;
    font-family: sans-serif;
}

h1 {
	display: none;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

header {
	display: grid;
	place-items: center;
}

main {
	width: clamp(350px, 50%, 750px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

a:link   {
	color: var(--blue);
}
a:visited{
	color: var(--blue);
}
a:hover  {
	color: var(--baby-blue);
}
a:active {
	color: var(--baby-blue);
}

nav {
	display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.nav_card {
	aspect-ratio: 1 / 1;
	width: 100%;
	display: grid;
	place-items: center;
	background: var(--baby-blue);
}

.nav_card * {
	grid-area: 1 / 1 / 2 / 2;
}

.nav_card a {
	margin:  0.5rem;
	text-align: center;
}

.nav_card img {
	font-size: 0;
}