:root {
	--orange:  #ff6935;
	--red: #d65353;
	--yellow: #f7c45f;

	--light-beige: #fff9f3;
	--beige: #f1dfd7;
	--dark-beige: #e7cebf;
	
	--baby-blue: #b2d3e1;
	--blue: #487aff;
	--dark-blue: #28364a;
	--green-blue: #d4e4dd;
	
}

body {
	background: var(--light-beige);
	display: grid;
    place-items: center;
    font-family: sans-serif;
    margin: 0;
}

header img {
	margin-top: 1rem;
	height: 4rem;
}

header a:hover {
	opacity: 0.5;
}

h1 {
	display: none;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: var(--dark-blue);
}

header {
	display: grid;
	place-items: center;
}

main {
	width: clamp(350px, 60%, 750px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

a:link   {
	color: var(--blue);
}
a:visited{
	color: var(--blue);
}
a:hover  {
	color: var(--baby-blue);
}
a:active {
	color: var(--baby-blue);
}