ul {
	padding: 0;
}

p {
  width: 100%;
  margin-bottom: 2rem;
  display: inline-block; 
}

p::before{
  content: "";
  width: 0.1rem;
  background-color: #487aff;

  left: 10%;
  position: fixed;
  top:0;
  bottom:0;
  margin-left: 0.45rem;
}

p::after{
  content: "";

  width: 1rem;
  height: 1rem;

  position: absolute;
  left: 10%;
  background: #487aff;

  border-radius: 50%;
  z-index: 1;
}